body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    height: calc(100vh - 56px);     /* Substract the navbar height */
}

#collapisble-sidebar {
    width: 300px !important;        /* Default is 400px */
}

#note-area {
    display: flex;
    flex-direction: column;
    height: 100%;                   /* To take up whole main container height */
    gap: 15px;
}

#note-title {
    font-size: 1.5rem;
}

#note-content {
    flex-grow: 1;                   /* Textarea takes up remaining #note-area */
    resize: none;
}

#note-area-footer {
    gap: 1.5rem;                    /* Distance between "Save" and "Delete" buttons */
}

#note-area-footer button {
    width: 100px;                   /* "Save" and "Delete" buttons width */
}


/* Testing Purposes */
.border-red {
    border: 1px solid red;
}